@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 900px) {

}

@media (min-width: 900px) {

	.header{
		margin-left: 10%;
		margin-top: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		padding-left: 5%;
	}

	.title{
		font-weight: 800;
		font-size: 96px;
		line-height: 0.5em;
	}

	.titleDescription{
		font-size: 32px;
		line-height: 1.3em;
		padding-left: 2%;
		padding-right: 10%;
		opacity: 0.5;
	}

	.subtitleLink{
		padding-left: 2%;
		line-height: 1.3em;
	}

	.link{
		color: #E74C3C;
		text-decoration: none;
		font-size: 32px;
	}

 	.flex-grid {
  		display: flex;	
  	}
	
	.col {
  		flex: 1;
  		margin-bottom: 2.5%;
  		margin-top: 5%;
  		width: 50%;
  		background-color: #fff;
		margin-right: 10%;
	}

	.grid{
		margin-top: 2.5%;
		margin-left: 10%;
		margin-bottom: 5%;
	}

	.profilePic{
		width: 100%;
		background-color: #000;
		border-radius: 16px;
		box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.2);
	}

}