body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 48px;
	color: #fff;
	max-width: 100%;
}

@media (max-width: 900px) {
	body{

	}

	.tweetsTitle{
		font-weight: 800;
		font-size: 48px;
		line-height: 1em;
		margin-top: 20%;
		margin-bottom: 10%;
		width: 100%;
		margin-left: 0%;
		color: #fff;
		text-shadow: 1px 1px #ff0000;
	}

	a{
		text-decoration: none;
	}

	.twitter-tweet{
    	border-radius: 10px;
    	border-width: 5px;
    	border-style: solid;
    	border-color: #fff;
    	background-color: #fff;
    	padding-top: 3%;
    	padding-bottom: 3%;
    	box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.3);

	}

	.space{
		padding-bottom: 15%;
	}

	.backButton{
		top: 0;
		font-size: 32px;
		margin-top: 3%;
		margin-left: 3%;
		line-height: 1.1em;
		color: #fff;
		text-shadow: 3px 3px #ff0000;
		text-decoration: none;
	}

}

@media (min-width: 900px) {
	.tweetsTitle{
		font-weight: 800;
		font-size: 96px;
		line-height: 1em;
		position: fixed;
		margin-top: 0%;
		width: 40%;
		margin-left: 0%;
		color: #fff;
		text-shadow: 3px 3px #ff0000, 0 2px 0 #c9c9c9, 6px 6px #FFFF00;
	}

	.tweetsGrid{
		margin-top: 10%;
		margin-left: 55%;
		margin-bottom: 10%;
	}

	.twitter-tweet{
/*    	box-shadow: 15px 15px 0px 0px rgba(255, 0, 0, 1);*/
    	border-radius: 22px;
    	border-width: 25px;
    	border-style: solid;
    	border-color: #fff;
    	background-color: #fff;
    	padding-top: 3%;
    	padding-bottom: 3%;
    	box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.3);
	}

	.space{
		padding-bottom: 10%;
	}

	.backButton{
		top: 0;
		font-size: 32px;
		margin-top: 1.5%;
		margin-left: 1%;
		position: fixed;
		line-height: 1.1em;
		color: #fff;
		text-shadow: 3px 3px #ff0000;
		text-shadow: 3px 3px #ff0000, 0 1px 0 #c9c9c9, 4px 4px #FFFF00;
		text-decoration: underline;
	}

	.header{
		margin-top: 0;
		padding-top: 0;
		padding-left: 0;
		margin-left: 5%;
	}
}