body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 48px;
	color: #fff;
}

@media (max-width: 900px) {
	body{
		background-color: #f9f9f9;
	}

	.tweetsTitle{
		font-weight: 800;
		font-size: 64px;
		line-height: 1em;
		margin-top: 10%;
		width: 100%;
		margin-left: 0%;
		color: #fff;
		text-shadow: 1px 1px #ff0000;
	}

	.twitter-tweet{

	}
}

@media (min-width: 900px) {
	.tweetsTitle{
		font-weight: 800;
		font-size: 96px;
		line-height: 1em;
		position: fixed;
		margin-top: 0%;
		width: 40%;
		margin-left: 0%;
		color: #fff;
		text-shadow: 6px 6px #ff0000;
	}

	.tweetsGrid{
		margin-top: 10%;
		margin-left: 50%;
		margin-bottom: 10%;
	}

	.twitter-tweet{
/*    	box-shadow: 15px 15px 0px 0px rgba(255, 0, 0, 1);*/
    	border-radius: 30px;
    	border-width: 25px;
    	border-style: solid;
    	border-color: #fff;
	}

	.space{
		padding-bottom: 10%;
	}

	.backButton{
		top: 0;
		font-size: 32px;
		margin-top: 1.5%;
		margin-left: 1%;
		position: fixed;
		line-height: 1.1em;
		color: #fff;
		text-shadow: 3px 3px #ff0000;
	}

	.header{
		margin-top: 0;
		padding-top: 0;
		padding-left: 0;
		margin-left: 5%;
	}
}